@model Transaction
<section>
    <div>
        @Model.Amount
    </div>
    <div>
        @Model.Date.Day/@Model.Date.Month/@Model.Date.Year
    </div>
    <div>
        @Model.Type
    </div>
    <div>
        <a asp-action="Details" asp-route-id="@Model.Id">Detail</a>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
</section>