@model UltraBudget.ViewModels.HomePageViewModel

@{double totalInWallet = 0;}

@foreach (var wallet in Model.Wallets)
{
    <tr>
        <td>@wallet.Name</td>
        @if (wallet.Currency != null)
        {
            <td><a asp-controller="Wallets" asp-action="Index" asp-route-id="@wallet.Id"></a>@wallet.Currency.Name</td>
        }
        else
        {
            <td>Please enter this wallet's Currency correctly.</td>
        }

        @foreach (var t in Model.Transactions.Where(w => w.Wallet.Id == wallet.Id))
        {
            totalInWallet += t.Amount;
        }
        <td>@totalInWallet</td>
        <td>
            <div class="btn-group" role="group">
                <a class="btn btn-default" asp-action="Edit" asp-route-id="@wallet.Id">Edit</a>
                <a class="btn btn-default" asp-action="Details" asp-route-id="@wallet.Id">Detail</a>
            </div>
        </td>
    </tr>


    @if(totalInWallet != 0)
    {
        totalInWallet = 0;
    }

}