@model UltraBudget.Entities.Wallet

@{
    ViewBag.Title = "Wallet details";
}

<html>
<body>
    <h1>@Model.ToString()</h1>
    <div>
        Id: @Model.Id
    </div>
    <div>
        Amount: @Model.Name
    </div>
    <div>
        Amount: @Model.Currency
    </div>
    <div>
        Amount: @Model.UserId
    </div>
    <div>
        <a><a asp-controller="Home" asp-action="Index">Home</a></a>
    </div>
</body>
</html>