@model Transaction

<tr>
    <td>@Model.Amount</td>
    <td>@Model.Date.Day/@Model.Date.Month/@Model.Date.Year</td>
    <td>@Model.Type</td>

    @if (Model.Category != null)
    {
        <td>@Model.Category.Name</td>
    }
    else
    {
        <td>to be cat</td>
    }
    <td>@Model.Wallet.Name</td>
    <td>@Model.Price</td>

    @if (Model.Payee != null)
    {
        <td>@Model.Payee</td>
    }
    else
    {
        <td>to be pay</td>
    }
    <td>
        <div class="btn-group" role="group">
            <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-default" asp-action="Details" asp-route-id="@Model.Id">Detail</a>
        </div>
    </td>
</tr>