@model Transaction

<tr>
    <td>@Model.Amount</td>
    <td>@Model.Date.Day/@Model.Date.Month/@Model.Date.Year</td>
    <td>@Model.Type</td>
    <td>@Model.Category</td>
    <td>@Model.Wallet.Name</td>
    <td>@Model.Price</td>
    <td class="">
        <a class="btn btn-primary pull-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-primary pull-right" asp-action="Details" asp-route-id="@Model.Id">Detail</a>
    </td>
</tr>