@model UltraBudget.Entities.Transaction

@{
    ViewBag.Title = "Transaction details";
}

<html>
<body>
    <h1>@Model.ToString()</h1>
    <div>
        Id: @Model.Id
    </div>
    <div>
        Amount: @Model.Amount
    </div>
    <div>
        Date: @Model.Date
    </div>
    <div>
        Type: @Model.Type
    </div>
    <div>
        Category: @Model.Category.Name
    </div>
    <div>
        Wallet: @Model.Wallet.Name
    </div>
    @if (Model.Type == TransactionType.Invest)
    {
        <div>
            Price: @Model.Price
        </div>
    }
    <div>
        UserName: @User.Identity.Name
    </div>
    <div>
        UserId: @Model.UserId
    </div>
    <div>
        <a asp-controller="Wallets" asp-action="Index">Home</a>
    </div>
</body>
</html>